[submodule "custom/use-package"]
	path = custom/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "custom/org-dotemacs"]
	path = custom/org-dotemacs
	url = https://github.com/vapniks/org-dotemacs.git
[submodule "custom/org-mode"]
	path = custom/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "org-mode"]
	path = org-mode
	url = https://github.com/sleepomeno/custom-org-mode
[submodule "custom/octorgopress"]
	path = custom/octorgopress
	url = https://github.com/sleepomeno/octorgopress.git
[submodule "custom/haskell-mode"]
	path = custom/haskell-mode
	url = https://github.com/sleepomeno/haskell-mode.git
[submodule "custom/jabber-otr"]
	path = custom/jabber-otr
	url = https://github.com/legoscia/emacs-jabber-otr.git
[submodule "custom/sauron"]
	path = custom/sauron
	url = https://github.com/sleepomeno/sauron.git
[submodule "custom/caldav"]
	path = custom/caldav
	url = https://github.com/dengste/org-caldav.git
[submodule "custom/yasnippet"]
	path = custom/yasnippet
	url = https://github.com/sleepomeno/yasnippet.git
[submodule "custom/cyperbunk"]
	path = custom/cyperbunk
	url = https://github.com/sleepomeno/cyberpunk-theme.el.git
