ac-comphist.dat
org-clock-save.el
projectile-bookmarks.eld
.smex-items
backups
elpa
places
auto-save-list
tramp
session*
#*
url/cookies
/#*#
*.bak
/custom/emacs-w3m/*
/eshell/history
/skewer-cache/*.
/skewer-cache/**/*
